.nav {
    grid-area: nav;
    background-color: var(--main-bg-color);
}
.items {

}
.item {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: var(--main-font-color);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.1px;
}

.active {
    color: #61dafb;
}