.sidebar {
    grid-area: nav;

    background-color: #2bff25;
    height: 100vh;
}
.sidebar__nav ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 1.5;
}
.sidebar__nav ul li {
    list-style-type: none;
}
.sidebar__nav ul li:last-child {
    margin-top: .5rem;
}